@page "/"

<PageTitle>POEM Link Admin</PageTitle>

<h1>POEM Link Admin</h1>
<div>
    <p>Welcome to the Admin tool for POEM Link.</p>

    <!-- <div>
    <p>This is the frontend of a solution using <a href="https://github.com/FBoucher/AzUrlShortener" target="_blank">AzUrlShortener</a> both projects are available on GitHub.</p>
    
    <p>This site is build using <a href="http://blazor.net/" target="_blank">.Net Blazor Web Assembly</a> and some Blazor components from <a href="https://blazor.syncfusion.com/" target="_blank">Syncfusion</a> (thank you for the Community licence)</p>

    </div>

    <div style="align-content: right;"><img class="mainLogo" src="/images/TinyBlazorAdmin.png" /></div> -->
</div>